.table-custom thead th {
    font-weight: 600;
    color: #475569;
    background-color: #f1f5f9;
    border-bottom: 1px solid #e2e8f0;
    font-size: 0.85rem;
    padding: 1rem 1.5rem;
}

.table-custom tbody td {
    padding: 1rem 1.5rem;
    vertical-align: middle;
    color: #000000;
    border-bottom: 1px solid #f1f5f9;
}

.table-custom td.filename {
    max-width: 500px;
    word-break: break-word;
    white-space: normal;
}